# Global Deployments settings required for all component builds
# !!!! ALL AUTHENTICATION GOES INTO a local file sys-env-auth.env !!!!!

# Docker Hub Authorization
SY_ENV_DOCKERHUB_USERNAME=change-me
SY_ENV_DOCKERHUB_AUTHENTICATION=change-me

